@import "../../global.scss";

li {
  font-size: 1.1rem;
  margin-right: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;

  @include mobile {
    margin-right: 1em;
  }

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
