@import "../../global.scss";

.portofolioList {
  font-size: 1.1rem;
  margin-right: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: center;

  transition: all 0.3s ease;

  @include mobile {
    margin: 0em;
  }

  &.active {
    background-color: black;
    color: white;
  }

  &:hover {
    background-color: black;
    color: white;
  }
}
