@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  padding: 5em 0;

  transition: all 0.6s ease;

  &.dark-mode {
    background-color: $mainColor;
  }

  @include mobile {
    flex-direction: column;
  }

  .left {
    display: flex;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    img {
      height: 100%;
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.1rem;

    @include mobile {
      padding-top: 2em;
    }

    &.dark-mode {
      color: white;
    }

    h2 {
      font-size: 2.5rem;
    }

    p {
      margin-top: 1em;
      line-height: 1.5;
      width: 20em;
    }

    form {
      width: 70%;
      height: 60%;
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mobile {
        width: 75%;
        height: 90%;
      }

      label {
        align-self: flex-start;
        margin-top: 1em;
      }

      input {
        margin-top: 0.5em;
        width: 20em;
        width: 100%;
        height: 2.5em;
        font-size: 1rem;
        padding: 0.5em;

        @include mobile {
          margin-top: 0.5em;
          width: 100%;
          height: 1.5em;
        }
      }
      textarea {
        margin-top: 0.5em;
        width: 20em;
        width: 100%;
        height: 28em;
        font-size: 1rem;
        resize: none;
        padding: 0.5em;

        @include mobile {
          margin-top: 0.5em;

          width: 100%;
          height: 6em;
        }
      }
      button {
        width: 15em;
        height: 7em;
        color: white;
        background-color: $mainColor;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 2em;
      }

      @include mobile {
        button {
          margin-top: 2em;
          width: 11em;
          height: 3em;
        }
      }

      span {
        margin-top: 3em;

        font-weight: 600;
        color: green;
      }
    }

    &.dark-mode {
      form {
        button {
          background-color: crimson;
        }
      }
    }
  }
}
