@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 55em;
      height: 55em;
      // width: 120%;
      // height: 120%;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      float: right;

      @include mobile {
        align-items: flex-start;
      }
      img {
        height: 90%;

        @include mobile {
          height: 50%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
        justify-content: start;
      }

      h2 {
        padding-top: 1.3em;
        font-size: 2.3rem;
        @include mobile {
          font-size: 1.8rem;
        }
      }
      h1 {
        font-size: 3.5rem;
        margin: 0.5em 0;
        @include mobile {
          font-size: 2.4rem;
        }
      }
      h3 {
        font-size: 2rem;
        @include mobile {
          font-size: 1.3rem;
        }
        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      .resume-wrapper {
        display: flex;
        flex-direction: row;

        a {
          margin: 1em 0.5em;
          width: 10em;
          height: 2.5em;
          font-size: 1.1rem;
          color: black;
          letter-spacing: 0.4px;
          font-weight: 600;
          background-color: #afe2e5;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          &.creative {
            background-color: #e2832e;
            color: white;
          }
        }
      }
    }

    a.bottom {
      position: absolute;
      bottom: 1em;
      left: 42%;

      img {
        width: 4em;
        animation: arrowBlink 1.5s infinite alternate;
        @include mobile {
          width: 3em;
        }
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
