@import "global.scss";

* {
  font-family: "Roboto", san-serif;
  margin: 0;
  overflow-x: hidden;
}
.app {
  height: 100vh;

  .spacer {
    aspect-ratio: 1000/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url("./svg/aboutwave1.svg");
  }

  .flip {
    transform: rotate(180deg);
  }

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    // background-color: salmon;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;

    @include mobile {
      scroll-snap-type: none;
    }
    scrollbar-width: none; /// hide scrollbar for firefox
    &::-webkit-scrollbar {
      //hide scrollbar for other browsers
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }

    .long {
      height: unset;
    }
  }
}
